<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/可视化Gui/src/可视化Gui/可视化Gui.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="可视化Gui.可视化Gui"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="可视化Gui"/>
</launchConfiguration>
